<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>NEX-System</title>
    <link rel="stylesheet" href="/assets/main_auth.css">
</head>

<body>
    <h2 style="font-size: 40px">NEX SYSTEM</h2>

    <div class="submit">
        <form id="authForm">
            <p>
                <%= auth %>
            </p>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>

            <p class="<%= auth !== 'Sign in' ? 'display-none' : '' %> message">
                Don't have an account? <a href="/signup">Create!</a>
            </p>
            <button type="submit" class="button">Continue</button>
        </form>
    </div>

    <script>
        document.getElementById("authForm").addEventListener("submit", async function (event) {
            event.preventDefault();

            const formData = new FormData(event.target);
            const data = Object.fromEntries(formData.entries());

            try {
                const response = await fetch('<%=endpoint%>', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data),
                });

                if (response.ok) {
                    const result = await response.json();
                    localStorage.setItem("uuid", JSON.stringify(result));
                    window.location.href = "/";
                } else {
                    const error = await response.json();
                    console.error('Erro: ' + error.message);
                }
            } catch (err) {
                console.error('Erro na requisição:', err);
            }
        });
    </script>
</body>

</html>