<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEX-System</title>
    <link rel="stylesheet" href="/assets/main.css">
</head>

<body>
    <nav>
        <ul>
            <div class="logo"><a href="/home">BACK</a></div>
            <div class="options"></div>
        </ul>
    </nav>

    <div class="container">
        <div class="container-header">
            <h2>Error</h2>
        </div>
        <div style="margin-left: 15px;">
            <%= message %>
        </div>
    </div>

</body>

</html>