<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat com Socket.IO</title>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  <h1>Chat com Socket.IO</h1>
  <div id="messages"></div>
  <input id="messageInput" type="text" placeholder="Digite sua mensagem">
  <button id="sendButton">Enviar</button>

  <script>
    const socket = io();
    socket.emit("request-game", { token: "<%= token %>", game: "<%= game %>"  });

    socket.on("response-request", ({ code, message }) => {
        console.log({ code, message })
        socket.emit("start")
    })
  </script>
</body>
</html>
