<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEX-System</title>
    <link rel="stylesheet" href="/assets/main.css">
</head>

<body>
    <nav>
        <ul>
            <div class="logo"><a href="/">NEX SYSTEM CLOUD</a></div>
            <div class="options">
                <div class="option"><img src="/assets/icons/not-connected-controller.png" id="status"></div>
                <div class="option" id="redirect"><img src="/assets/icons/user.png"></div>
            </div>
        </ul>
    </nav>

    <div class="container">
        <div class="container-header">
            <h2>Settings</h2>
        </div>

        <div class="container-body-user">
            <h3>Subscription Details <span class="status"></span></h3>
        </div>
    </div>

    <script>
        const storage = JSON.parse(localStorage.getItem("uuid") || null);

        fetch('/users', {
            method: 'GET',
            headers: {
                'Authorization': `Bearer ${storage.access_token}`,
                'Content-Type': 'application/json',
            },
        })
            .then(response => response.json())
            .then(data => {
                if (data.subscribed) {
                    document.getElementsByClassName("status")[0].style.background = "#65ff76";
                }
                else if (!data.subscribed)
                    document.getElementsByClassName("status")[0].style.background = "#ff6565";

                console.log('Dados recebidos:', data)
            })
            .catch(error => console.error('Erro na requisição:', error));
    </script>
</body>

</html>